{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h2 class="card-title text-primary">Music Streaming Platform made in Django</h2>
                        <a href="{% url 'profile' %}" class="btn btn-primary btn-lg mx-2">Go to Profile</a>
                        <a href="{% url 'music_page' %}" class="btn btn-primary btn-lg mx-2">Search Music</a>
                        <a href="{% url 'logout' %}" class="btn btn-danger btn-lg mx-2">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}