{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">All Songs</h2>
                        {% if user.is_authenticated and user.is_artist %}
                            <a href="{% url 'music_upload' %}" class="btn btn-primary mb-3">Upload Song</a>
                        {% endif %}
                        <a href="{% url 'home-page' %}" class="btn btn-secondary mb-3">Home</a>
                        <a href="{% url 'music_search' %}" class="btn btn-secondary mb-3">Search Songs</a>
                        <ul>
                            {% for song in music_tracks %}
                                <li>
                                    {{ song.title }} by {{ song.artist.name }} ({{ song.genre }})
                                    <audio preload="auto" controls>
                                      <source src="{{ song.audio_file.url }}">
                                      Your browser does not support the audio element.
                                    </audio>
                                    {% if song.artist == request.user or request.user.is_superuser %}
                                        <a href="{% url 'music_edit' song.id %}" class="btn btn-secondary">Edit</a>
                                        <a href="{% url 'music_delete' song.id %}" class="btn btn-danger">Delete</a>
                                    {% endif %}
                                </li>
                            {% empty %}
                                <li>No songs found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}