{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-4 text-primary">Playlist Details</h1>
                <a href="{% url "home-page" %}" class="btn btn-primary btn-lg mx-2">Home Page</a>
                <a href="{% url "logout" %}" class="btn btn-danger btn-lg mx-2">Logout</a>
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <h2 class="card-title text-primary">{{ current_playlist.name }}</h2>
                        <p>{{ current_playlist.description }}</p>
                        <ul>
                            {% for track in tracks %}
                                <li>
                                    {{ track.title }} by {{ track.artist.name }} ({{ track.genre }})
                                    <audio preload="auto" controls>
                                      <source src="{{ track.audio_file.url }}">
                                      Your browser does not support the audio element.
                                    </audio>
                              </li>
                            {% empty %}
                                <li>This playlist is empty.</li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'edit_playlist' current_playlist.id %}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="{% url 'delete_playlist' current_playlist.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}