{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-4 text-primary">User Profile</h1>
                <a href="{% url "home-page" %}" class="btn btn-primary btn-lg mx-2">Home Page</a>
                <a href="{% url "music_page" %}" class="btn btn-primary btn-lg mx-2">Music Page</a>
                <a href="{% url "edit_profile_redirect" %}" class="btn btn-primary btn-lg mx-2">Edit Profile</a>
                <p class="lead">Welcome, {{ user.username }}!</p>
                <h2 class="text-secondary">User Information:</h2>
                <div class="card bg-light">
                    <div class="card-body">
                        <p><strong>Username:</strong> {{ user.username }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Name:</strong> {{ user.name }}</p>
                        <p><strong>Bio:</strong> {{ user.bio }}</p>
                    </div>
                </div>
                {% if user.is_artist %}
                    <h2 class="text-secondary">Songs:</h2>
                    <ul class="list-group">
                        {% for song in user.tracks.all %}
                            <li class="list-group-item">
                                {{ song.title }} ({{ song.genre }})
                                <a href="{% url "music_edit" song.id %}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{% url "music_delete" song.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-secondary">You have no songs.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}